//mixins below

.nav_margin_right() {
  margin-right: 2%;
}

.custom-btn-one(@btn-color:skyblue, @width:150px, @font-color:white) {
  display: block;
  background-color: @btn-color;
  margin: 0 10px 20px;
  cursor: pointer;
  width: @width;
  height: 45px;
  font-size: 2rem;
  border-radius: 10px;
  color: @font-color;
  align-items: center;
}

//Escaping
@mobile: ~"(max-width: 500px)";

//@media @mobile {
/* display: flex;
    flex-direction: center;
    align-items: center;
    }

    //mixins above//

    /*@media @mobile {
    .container home {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 70%;
        height: 75%;
        margin-top: 20px;
        margin-right: 10%;
        padding: 5%;
    }
    }

    @media (max-width: 500px) {
    .img {
        width: 70%;
        height: 75%;
        margin-top: 20px;
        margin-right: 10%;
    }
    }

    @media @mobile {
    .container home {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 70%;
        height: 75%;
        margin-top: 20px;
        margin-right: 10%;
        padding: 5%;
    }
    }
*/
