// Navigation Styles here

header {
  width: 80%;
  display: flex;
  border-bottom: 2px dashed lightgray;
  margin: 0 auto;
  justify-content: space-around;
  .nav {
    width: 45%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-size: 14px;
  }

  h1 {
    font-size: 20px;
  }
}

.home {
  .nav_margin_right();
}

.about {
  .nav_margin_right();
}

.blog {
  .nav_margin_right();
}

.contact {
  .nav_margin_right();
}

.fun {
  margin-right: 40%;
}
